<body>  

  <div>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    
          <a class="navbar-brand"  >FoodFox</a>
        
         <!-- <li class="nav-item">
          <a  class="nav-link" >Home</a>
          </li> -->
          <!-- <li class="nav-item">
            <a  class="nav-link"  routerLink="/pay" routerLinkActive="active">Checkout</a>
            </li>  -->
            
              <a  class="navbar-brand"  routerLink="/createcust" routerLinkActive="active">Customer Details</a>
            
                <a  class="navbar-brand"  routerLink="/custolist" >All Customers</a>
              
                  <a class="navbar-brand" routerLink="/updatecust" routerLinkActive="active">Update Customer</a>
                
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/homepage">Logout <span class="sr-only"></span></a>
                    </li>
                    </ul>
                    </div>
                  <!-- <li class="nav-item">
                    <a  class="nav-link"  routerLink="/restownerlogin" routerLinkActive="active">CustomerLogin</a>
                    </li> -->
   
  
    </nav> 
  </div> 

   <img src="https://cdn3.vectorstock.com/i/thumb-large/10/77/food-fox-logo-vector-24171077.jpg" height="100px" width="100px">
  <h1>Welcome to Food world</h1>
  <h1>Have Delight in every Bite!!</h1>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
   <div id="signIn" >

     <!-- <p style="color:cornsilk">Fill free to explore our application
       by Registering yourself
     </p> -->
    <!-- <div class="container"> -->
    <!--<h2>For Customer</h2>-->
       <button type="button" name="View Restaurants" routerLink="/allrest" routerLinkActive="active">View Restaurants</button>
    </div>
       <!-- <button type="button" name="customerLogin" routerLink="/customerlogin" routerLinkActive="active">LogIn </button>
      
        <br>
       <br>
    <h2>For Restaurant Owner</h2>
       <button type="button" name="restaurantOwnerRegister" routerLink="/restownerreg" routerLinkActive="active">Register</button>
       <button type="button" name="RestaurantOwnerLogin"routerLink="/restownerlogin" routerLinkActive="active">LogIn</button>
</div>
</div> -->

<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row1">
  <div class="column1">
    <br>
    <h4>No Minimum Order</h4>
    <img src="assets\minimumordelivery.jpg">
   
    <br>
  </div>
  <div class="column1">
    <br>
    <h4>Lightning fast delivery</h4>
    <marquee direction="right" scrollamount="30"><img src="assets\fastdelivery.jpg"></marquee>
    <br>
    <br>
  </div>
  </div>

<br>
<br>
<br>
<br>

<div class="row">
  <div class="column">
    <br>
    <h4>Company</h4>
    <h6><a  class="nav-link"  routerLink="/aboutUs" routerLinkActive="active">About Us</a></h6>
    <br>
  </div>
  <div class="column">
    <br>
    <h4>Help & Support</h4>
    <h6><a  class="nav-link"  routerLink="/contactUs" >Contact Us</a></h6>
    <br>
  </div>
  <div class="column">
    <br>
    <h4>Legal</h4>
    <h6><a  class="nav-link"  routerLink="/terms" routerLinkActive="active">Terms & Conditions</a></h6>
    <br>
  </div> 
</div>
<br> 
  </body>