<html>
<head>

</head>
<!--
<body>  
  <br>
  <br>
  <li class="nav-item">
    <a class="navbar-brand mr-5" class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a>
    </li>
  <h1>Welcome to Food world</h1>
  <h1>Have Delight in every Bite!!</h1>
   <img src="https://cdn3.vectorstock.com/i/thumb-large/10/77/food-fox-logo-vector-24171077.jpg" height="300px" width="300px">

   <div id="signIn">
    <h2>Enjoy our service just at one click</h2>
    <h2>For Customer</h2>
       <button type="button" name="customerRegister">Register</button>
       <button type="button" name="customerLogin">LogIn </button>
       
    <h2>For RestaurantOwner</h2>
       <button type="button" name="restaurantOwnerRegister" routerLink="/restownerreg">Register</button>
       <button type="button" name="RestaurantOwnerLogin">LogIn</button>
</div>

<div class="row1">
  <div class="column1">
    <br>
    <h4>No Minimum Order</h4>
    <img src="assets\minimumordelivery.jpg">
   
    <br>
  </div>
  <div class="column1">
    <br>
    <h4>Lightning fast delivery</h4>
    <img src="assets\fastdelivery.jpg">
    <br>
    <br>
  </div>
  </div>

<br>
<br>
<br>
<br>

<div class="row">
  <div class="column">
    <br>
    <h4>Company</h4>
    <h6><a  class="nav-link"  routerLink="aboutUs" routerLinkActive="active">About Us</a></h6>
    <br>
  </div>
  <div class="column">
    <br>
    <h4>Help & Support</h4>
    <h6><a  class="nav-link"  routerLink="/contactUs" >Contact Us</a></h6>
    <br>
  </div>
  <div class="column">
    <br>
    <h4>Legal</h4>
    <h6><a  class="nav-link"  routerLink="terms" routerLinkActive="active">Terms & Conditions</a></h6>
    <br>
  </div>

  
</div>

<br>

-->
    <!-- <img src="https://images-platform.99static.com/O3ZHfJeHB741xpyYH95tWvMsdTI=/0x0:1279x1279/500x500/top/smart/99designs-contests-attachments/63/63966/attachment_63966256" height="300px" width="225px"> -->
   
<!-- <nav class="navbar" >

     logo -->
    <!-- <div class="navbar-brand">
      <a class="navbar-item">
          <img src="https://bulma.io/images/bulma-logo.png">  
        <img src="https://images-platform.99static.com/O3ZHfJeHB741xpyYH95tWvMsdTI=/0x0:1279x1279/500x500/top/smart/99designs-contests-attachments/63/63966/attachment_63966256" height="255px" width="225px">
       <img class="responsive w-100 mt-5 mb-5" src="assets\firstpageimage.jpg" alt="Food Delivery Application"> 
           
      </a>
      
    </div> 
    <div id="logopart">
      <img src="https://images-platform.99static.com/O3ZHfJeHB741xpyYH95tWvMsdTI=/0x0:1279x1279/500x500/top/smart/99designs-contests-attachments/63/63966/attachment_63966256" height="255px" width="225px">
    </div>
  </nav>
 <div id="mainpart">
   <h1>Welcome to Food world</h1>
   <h1>Have Delight in every Bite</h1>
   </div>
  
 
    
  
  </body>
-->
<body>
  
  <router-outlet></router-outlet>
</body>
  <app-footer></app-footer>
  

  